<!-- wp:template-part {"slug":"header","theme":"blockscape","tagName":"header","className":"site-header alignfull"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"section-bg","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-section-bg-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:spacer {"height":"80px","className":"is-style-has-mb-30","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-30"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"15px","left":"15px","top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained","justifyContent":"left"}} -->
    <div class="wp-block-group alignwide" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px"><!-- wp:query-title {"type":"search","style":{"spacing":{"margin":{"bottom":"15px","top":"0px","right":"0px","left":"0px"}}},"fontSize":"medium-large"} /-->
    
    <!-- wp:group {"style":{"border":{"radius":"12px"},"spacing":{"padding":{"top":"5px","bottom":"5px","left":"8px","right":"8px"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-white-background-color has-background" style="border-radius:12px;margin-top:0px;margin-bottom:0px;padding-top:5px;padding-right:8px;padding-bottom:5px;padding-left:8px"><!-- wp:search {"label":"","placeholder":"search...","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"style":{"border":{"width":"0px","style":"none","radius":"12px"}},"backgroundColor":"primary"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"80px","className":"is-style-has-mb-30","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-30"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"80px","className":"is-style-has-mb-40","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-40"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"15px","left":"15px","top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px"><!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"className":"site-content"} -->
    <main class="wp-block-group alignwide site-content" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:query {"queryId":0,"query":{"perPage":"5","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"layout":{"inherit":true}} -->
    <div class="wp-block-query"><!-- wp:post-template {"align":"wide"} -->
    <!-- wp:group {"style":{"border":{"radius":"12px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"white","className":"is-style-box-shadow-one","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-box-shadow-one has-white-background-color has-background" style="border-radius:12px;margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-featured-image {"style":{"border":{"radius":{"topLeft":"12px","topRight":"12px"}}}} /-->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px","top":"5px","bottom":"5px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:5px;padding-right:20px;padding-bottom:5px;padding-left:20px"><!-- wp:group {"style":{"spacing":{"margin":{"bottom":"8px","top":"10px"},"blockGap":"10px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="margin-top:10px;margin-bottom:8px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"14px"}}} /-->
    
    <!-- wp:post-date {"isLink":true,"displayType":"modified","style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"var:preset|color|inherit"}}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"16px","left":"0"}}},"fontSize":"medium-large"} /-->
    
    <!-- wp:post-excerpt {"moreText":"Read More\u003ca rel=\u0022noreferrer noopener\u0022 href=\u0022#\u0022 target=\u0022_blank\u0022\u003e →\u003c/a\u003e","fontSize":"small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->
    
    <!-- wp:spacer {"height":"60px","className":"is-style-has-mb-40","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:60px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-40"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
    
    <!-- wp:query-no-results {"align":"wide"} -->
    <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when the query returns no results."} -->
    <p>No results. Try another search</p>
    <!-- /wp:paragraph -->
    <!-- /wp:query-no-results --></div>
    <!-- /wp:query -->
    
    <!-- wp:spacer {"height":"112px","className":"is-style-has-mb-40","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:112px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-40"></div>
    <!-- /wp:spacer --></main>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"blockscape","tagName":"footer","className":"site-footer is-style-no-margin"} /-->